html {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
    background-color: #008282;
    background: url("gfx/bg.png") repeat;
    background-size:  50vh;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    /* Hide scrollbars */
}

:root {
  --app-height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  @media not all and (hover:hover) {
      height: var(--app-height);
  }
}

canvas {
  padding-top:1vh;
  width: 98vw;
  height: calc(var(--app-height) - 5vh);
  object-fit: contain;
}